body{
    margin: 0;
    padding: 0;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "header header" "sidebar content";
   
}

.top{
    grid-area: header;
}

.side{
    grid-area: sidebar;
}

.main{
    grid-area: content;
}

.header1{
    padding: 60px;
    text-align: center;
    background: url('image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

.navbar{
    color: white;
    background: black;
    display: flex;
    padding: 5px 10px;
    
   
}

.navbar a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover{
    background-color: green;
    color: white;
}

.side{
    background-color: black;
    padding: 30px;
   
}

.side > h2{
    border: 1px solid green;
    background-color: green;
    text-align: center;
    height: 40px;
    width: 100%;
}

.side a{
    text-decoration: none;
    color: white;
}

.side ul{
    list-style: none;
    padding: 0;
    margin: 0%;
    text-align: center;
    border: 1px solid black;
}
.side li{
    background-color: lightgreen;
    padding: 10px;
    border: 0.5px solid lightgreen;
    border-width: 30px;
    
}
.side ul :hover{
   background-color: black;
    color: white;

}

.about-us{
    border: 1px solid black;
    text-align: center;
    color: white;
    background: grey;
    padding: 10px;
    margin: 20px 20px;
}

.allignn{
    display: flex;
    flex-direction: row;
    
}
.col{
    flex: 33.33%;
    padding: 8px;
    border-style: border-box;
}

.price-box{
    background: white;
    color: #555;
    list-style-type: none;
    border: 1px solid #555;
    margin: 0;
    padding: 0;
}


.price-box:hover, .price-box.best{

    box-shadow: 0 10px 15px 0 #000;
    
}
.price-box .header{
    background-color: #111;
    color: #fff;
    font-size: 25px;
}

.price-box li{
    padding: 20px;
   text-align: center;
   border-bottom: 1px solid lightgray;
}

.price-box .emph{
    background-color: lightgray;
    font-size: 20px;
}

.button{
    background-color: green;
    border: none;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
}

.row1{
    display: flex;
    flex-direction: row;
   
}

img{
    width: 100%; 
    
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-right: 10px;
    text-align: center;
    background-color: white;
    border: 1px solid black;
    margin: 10px;
}
.footer{
    padding: 5px;
    text-align: center;
    background: lightgrey;
    margin: 0;
    color: #000;
}

@media(max-width: 852px){
    .allignn{
        flex-direction: column;
    }
    .price-box{
        width: 70%;
        margin-left: 20%;
    }

    .row1{
        flex-direction: column;
    }

    .card{
        width: 70%;
        margin-left: 20%;
    }
}

@media(max-width: 500px){

   .grid{
       display: block;
   }
    .allignn{
        flex-direction: column;
    }

    .price-box{
        width: 90%;
        margin-left: 10px;
    }

    .row1{
        flex-direction: column;
    }

    .card{
        width: 90%;
        margin-left: 15px;
    }
}


