.container {
    width: 100%;
}

header {
    background: #b6b6b6;
}

.left {
    background: #c6c5c3;
}

.center {
    background: #e2e1dd;
}

.right {
    background: #d5d3d0;
}

footer {
    background: #c6c5c3;
}

header, footer, article, aside {
    width: 100%;
    padding: 10px;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background: aliceblue;
    line-height: 19px;
}

* {
    box-sizing: border-box;
}

a {
    color: maroon;
    padding: 2px;
}

h2, footer {
    text-align: center;
}

h2 {
    margin: 0;
    padding: 30px 0;
}

h3 {
    margin: 0 0 10px 0;
}

p {
    margin: 5px 0 20px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul li {
    margin: 10px 5px;
    display: inline-block;
    padding: 5px;
}

blockquote {
    background: lightcyan;
    padding: 20px;
}

@media all and (min-width: 600px) {
    .right-col {
        clear: both;
        overflow: hidden;
    }
    .right-col, .center-col, .left-col {
        width: 100%;
        float: left;
        position: relative;
    }
    .right-col {
        background: grey;
    }
    .center-col {
        right: 20%;
        background: lightgray;
    }
    .left-col {
        right: 60%;
        background: grey;
    }
    .center, .left, .right {
        float: left;
        position: relative;
        background: transparent;
        padding: 10px 0;
    }
    .center {
        width: 55%;
        left: 101%;
    }
    .left {
        width: 18%;
        left: 26%;
    }
    .right {
        width: 18%;
        left: 88%;
    }
    footer {
        clear: both;
    }
}